<h1> HI </h1>

<P>Title: <%= @article.title %></P>

<p>Descripton: <%= @article.description %></p>

<%= link_to "Edit this article", edit_article_path(@article) %> |

<%= link_to "Back to articles listing", articles_path %>